<%= render "layouts/navbar" %>
<div id="about-detail-section" class="container">
	<h2 class="p-5 text-center standout-font">About Us</h2>
	<div class="row">
		<div class="col-md-8">
			<img style="width: 50%; float: left; margin-right: 10px;" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670401/Epic-pic/IMG-20200428-WA0124_gkd6ip.jpg">
			<p>EpicArtsAndPaintingDesigns is a reputable Art Company in Cameroon. ELANGWE SESSE, its founder, has made for himself a name in the country’s art scene, refined by an array of award-winning projects and exhibitions. At Epic Arts and Painting Designs, We focus on the production of beautiful oil paintings modeled after photos, concept illustrations, and inspirations that breathe life onto canvas; an undeniably physical and artistic representation that stimulates both the mind and soul. We are a great part of our art as our art is an enormous part of who we are. “Ars Gratia Artis”: Art for art’s own sake.</p>
			<p> 
        cases, and centerpieces for homes, lounges, offices, galleries, museums and so much more.
        The good people here at Epic Arts and Painting Designs produce the very best quality work at affordable prices. 
        We seek not only to convey our dedication to attaining client satisfaction but also to keep costs low and within the client’s means.
        The creative nest that is Epic Arts and Painting Designs and its dedicated team reside in the Southwest Region of Cameroon, Buea, and overlooked by the magnificent Fako Mountain.
        Its home, the iconic Alliance Franco-Camerounaise complex, sits atop a small hill in the corner of the famed Bongo Square. 
        All our artwork is genuine and hand-painted on canvas. Our classic [or to some extent] vintage approach to our art rules out the use of ANY machine aided printing or spray painting in our work. The authenticity of our artwork is lauded by the talented and award-winning professionals on our team.
        Excellence is the bar we aspire to raise daily. As such you can expect nothing less than professionalism, great customer experience, and museum-quality artwork.     
       </p> 
		</div>
		<div class="col-md-4">
			<div style="background: #35424a;" class="p-3 text-white">
				<h4 class="standout-font p-5 text-white">100% Satisfaction Guaranteed:</h4>
				<p>	To this end, we produce eye-catching art for portraits, mirages, display A high-resolution photo of your order(s) will be taken to ensure final approval before shipment.
        We guarantee that the product will arrive in good condition.
          We will, upon review of the order, payout a refund for any unsatisfactory quality in the ordered product returned [at the customer’s expense] within 30 working days.    
        For our regular and prime customers, we will also provide replacements, free enhancements, or credit for any unsatisfactory quality in the ordered product.       
        In case of ANY damage incurred during transportation, evidence of the alleged damage must be photo or video documented after which a refund        
        or free replacement may be set in action without any extra charge to the client after an extensive review. </p>
			</div>
		</div>
	</div>
</div>
