<%= render"layouts/navbar" %>
<div id="catalogue-section" class="container mt-5">
	<div class="border-bottom-header-div">
		<span><i class="fas fa-asterisk catalogue-fontawesom"></i></span>
		<sapn class="border-bottom-div-heading standout-font">Catalogue</sapn>
	</div>
	<div class="row headline-image-container">
		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670647/Epic-pic/IMG-20200428-WA0069_mfzsse.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670647/Epic-pic/IMG-20200428-WA0069_mfzsse.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670431/Epic-pic/IMG-20200428-WA0131_iuz6gc.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670431/Epic-pic/IMG-20200428-WA0131_iuz6gc.jpg" alt="Card image cap">
				</div>
			</a>
		</div>
		
		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670245/Epic-pic/IMG-20200428-WA0082_wxsyih.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670245/Epic-pic/IMG-20200428-WA0082_wxsyih.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670267/Epic-pic/IMG-20200428-WA0085_paxlr2.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670267/Epic-pic/IMG-20200428-WA0085_paxlr2.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670303/Epic-pic/IMG-20200428-WA0100_ftx8q5.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670303/Epic-pic/IMG-20200428-WA0100_ftx8q5.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670295/Epic-pic/IMG-20200428-WA0097_vh6jsl.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670295/Epic-pic/IMG-20200428-WA0097_vh6jsl.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670309/Epic-pic/IMG-20200428-WA0099_pnzppf.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670309/Epic-pic/IMG-20200428-WA0099_pnzppf.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670350/Epic-pic/IMG-20200428-WA0113_nkzuir.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670350/Epic-pic/IMG-20200428-WA0113_nkzuir.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670345/Epic-pic/IMG-20200428-WA0111_lkblb4.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670345/Epic-pic/IMG-20200428-WA0111_lkblb4.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670343/Epic-pic/IMG-20200428-WA0112_x3pjri.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670343/Epic-pic/IMG-20200428-WA0112_x3pjri.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670390/Epic-pic/IMG-20200428-WA0119_facvcr.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670390/Epic-pic/IMG-20200428-WA0119_facvcr.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670444/Epic-pic/IMG-20200428-WA0135_vwg52i.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670444/Epic-pic/IMG-20200428-WA0135_vwg52i.jpg" alt="Card image cap">
				</div>
			</a>
		</div>

		<div class="col-6 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670663/Epic-pic/IMG-20200428-WA0076_kguzw9.jpg">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670663/Epic-pic/IMG-20200428-WA0076_kguzw9.jpg" alt="Card image cap">
				</div>
			</a>
		</div>
	</div>
</div>