<%= render "layouts/navbar" %>
<div class="container pt-4" id="commission-page-level-one">
	<h3 class="standout-font text-center">Commission</h3>
	<div class="mb-5 linerule"></div>
	<p>In addition to the paintings on our online catalog, we also can reproduce the paintings that are not in our catalog, basically, we are able to reproduce all kinds of oil paintings from old masters, impressionism to modernism; from landscape, animals to still life. etc.</p>
	<p class="text-danger">If you can not find your favorite artist(s) or paint(s) on our catalog, you can send your favorite painting(s) for commission.</p>
	<p>It is impossible for us to post all of our paintings to our online catalog if the paintings you like are not in our catalog, or you fail to find paintings you like from
    our online catalog, you may send us the paintings you like for commission.</p>
	<p>You may email us digital images or mail non-digital images such as book, postcard, newspaper, photo, magazine, etc, for reproducing.</p>
	<p>Following is some art resources that you can look for your favorite artists or paintings:</p>
	<ul class="list-unstyled">
		<li><a class="resources-link" href="https://www.freeart.com/gallery/" target="_blank">olga's Gallery</a></li>
		<li><a class="resources-link" href="https://www.art.com/" target="_blank">Art.com</a></li>
		<li><a class="resources-link" href="http://www.artchive.com/" target="_blank">The Artchive</a></li>
		<li><a class="resources-link" href="http://www.cgfaonlineartmuseum.com/" target="_blank">CGFA</a></li>
		<li><a class="resources-link" href="https://europic-art.com/" target="_blank">Europe-Art</a></li>
	</ul>
	<p>For digital images please email to: <a class="email-link" target="_blank" href="mailto:epicartsandpainting@gmail.com">epicartsandpainting@gmail.com</a></p>
	<p>Non–digital images please mail to:</p>
	<p>Address: Bongo square, SW Buea , Cameroon</p>
	<p>Tell: +237 678063671</p>
	<p>We also can turn your photography into oil painting, photography includes portrait photo, wedding photo, family photo, pet photo, animal photo,
landscape photo, etc.</p>
</div>

<div class="container" id="commission-page-level-two">
	
	<div class="row">
		<div class="col-md-4">
			<h6 class="standout-font">Payment Methods</h6>
	        <ul class="list-unstyled">
	          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985456/Epic-pic/image001_yazrv7.jpg"></li>
	          <li class="p-2"></li><i class="fas fa-phone mr-3"></i> MOBILE MONEY: +237 678063671</li>
	          <li class="p-2"><i class="fas fa-home mr-3"></i> Through The Local Office</li>
	          <li class="bg-info"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image005_xzklfh.png"></li>
	        </ul>			
		</div>
		<div class="col-md-4">
			<h6 class="standout-font">Contact</h6>
	        <ul class="list-unstyled">
	          <li class="p-1"><i class="fas fa-home mr-3"></i> Bongo square, SW Buea , Cameroon</li>
	          <li class="p-1"><i class="fas fa-envelope mr-3"></i> epicartsandpainting@gmail.com</li>
	          <li class="p-1"><i class="fas fa-phone mr-3"></i> +237 678063671</li>
	          <li class="p-1"><i class="fas fa-print mr-3"></i>epicartsandpainting@gmail.com</li>
	        </ul>
		</div>
		<div class="col-md-4">
			<h6 class="standout-font">Delevered By:</h6>
	        <ul class="list-unstyled">
	          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image009_fqg3y8.png"></li>
	          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image011_k7xodc.png"></li>
	          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985456/Epic-pic/image013_bfghkd.png"></li>
	        </ul>
		</div>
	</div>
</div>