<section>
	<div class="side" id="side1"></div>
	<div class="side" id="side2"></div>
</section>

<div class="container-fluid" id="home-about-section">
	<div class="container">
		<h1 class="text-center mb-5 home-page-main-headings">Epicarts And Painting</span></h1>
		<div class="row">
			<div class="col-md-6 d-none d-md-block">
				<div class="card text-center d-none d-sm-block">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670453/Epic-pic/IMG-20200428-WA0134_kdyh9x.jpg" alt="Card image cap">
				</div>
			</div>
			<div class="col-md-6 d-flex align-items-center">
				<div class="text-center">
					<h4 class="text-center mb-3 standout-font" style="color: #B6C8A9;">Our world is to paint for a change</h4>
					<p class="standout-font">Africa and the world have been through a lot of trouble over the years, from slavery to world wars, colonialism, and host of others, these effects are being seen today in the Africa continent. The headlines concept represents a new renaissance for Africa. Each person has to work hand in hand in unity to ensure that we create a new Africa and the world despite the hardship that we are facing(corruption, embezzlement, nepotism, immigration). Let's make a better place for the children.
					</p>
					<a href="#">About Us</a>
				</div>
			</div>

		</div>
	</div>
</div>
<%= render "layouts/navbar" %>

<div class="container my-5" id="headline-concepts">
	<div class="general-sub-header-div pb-5">
		<h2 class="text-center mt-5 standout-font">Headline concepts</h2>
		<div class="linerule"></div>
	</div>
	<div class="row headline-image-container">
		<div class="col-md-8">
			<div class="img-box">
        <a href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670457/Epic-pic/IMG-20200428-WA0140_g3plpa.jpg">
          <img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670457/Epic-pic/IMG-20200428-WA0140_g3plpa.jpg" class="img-responsive" style="width: 100%;">
        </a>
      </div>
		</div>
		<div class="col-md-4 d-flex align-items-center">
			<div class="text-center w-100">
					<h4 class="text-center mb-3 bold">My Own Society</h4>
					<h3>80cm X 60cm</h3>
					<h3>2017</h3>
				</div>
		</div>

		<div class="d-none col-md-4 d-md-flex align-items-center">
			<div class="text-center w-100">
					<h4 class="text-center mb-3 bold">Our Society</h4>
					<h3>80cm X 60cm</h3>
					<h3>2017</h3>
				</div>
		</div>
		<div class="col-md-8">
			<div class="img-box">
        <a href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670488/Epic-pic/IMG-20200428-WA0151_r4e5hn.jpg">
          <img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670488/Epic-pic/IMG-20200428-WA0151_r4e5hn.jpg" class="img-responsive" style="width: 100%;">
        </a>
      </div>
		</div>
		<div class="d-md-none col-md-4 d-flex align-items-center">
			<div class="text-center w-100">
					<h4 class="text-center mb-3 bold">Our Society</h4>
					<h3>80cm X 60cm</h3>
					<h3>2017</h3>
				</div>
		</div>

		<div class="col-md-2"></div>
		<div class="col-md-6">
			<div class="img-box">
        <a href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670545/Epic-pic/IMG-20200428-WA0168_p2vztt.jpg">
          <img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670545/Epic-pic/IMG-20200428-WA0168_p2vztt.jpg" class="img-responsive" style="width: 100%;">
        </a>
      </div>
		</div>
		<div class="col-md-2 d-flex align-items-center">
			<div class="text-center w-100">
					<h4 class="text-center mb-3 bold">Unity Beats All</h4>
					<h3>1.2M X 1M</h3>
					<h3>Oil on canvas 2018</h3>
					<h3>2017</h3>
				</div>
		</div>
		<div class="col-md-2"></div>

		<div class="col-md-7">
			<div class="img-box">
        <a href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670522/Epic-pic/IMG-20200428-WA0160_fcxu9g.jpg">
          <img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670522/Epic-pic/IMG-20200428-WA0160_fcxu9g.jpg" class="img-responsive" style="width: 100%;">
        </a>
      </div>
		</div>
		<div class="col-md-5 d-flex align-items-center">
			<div class="text-center w-100">
					<h3 class="text-center mb-3 bold">Hope</h3>
					<h4>1M X 1M</h4>
					<h4>Oil on canvas 2018</h4>
					<h4>2016</h4>
				</div>
		</div>

		<div class="col-10 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670583/Epic-pic/IMG-20200428-WA0181_by9arz.jpg">
				<div class="card text-center card-type-one">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670583/Epic-pic/IMG-20200428-WA0181_by9arz.jpg" alt="Card image cap">
					<div class="card-body p-0">
						<p><span class="bold">Because you know him</span><br>1.2M X 1M Oil on canvas<br>2018</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-10 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670626/Epic-pic/IMG-20200428-WA0065_n0c4b3.jpg">
				<div class="card text-center card-type-one">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670626/Epic-pic/IMG-20200428-WA0065_n0c4b3.jpg" alt="Card image cap" style="height: 250px;">
					<div class="card-body p-0">
						<p><span class="bold">What we need</span><br>1.4M X 1.2M Mixed media<br>2018</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-10 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670616/Epic-pic/IMG-20200428-WA0064_ee7rfe.jpg">
				<div class="card text-center card-type-one">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670616/Epic-pic/IMG-20200428-WA0064_ee7rfe.jpg" alt="Card image cap" style="height: 250px;">
					<div class="card-body p-0">
						<p><span class="bold">Love</span><br>1.4M X 1.2M Mixed media<br>2018</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-10 mx-auto col-md-3 mt-3">
			<a class="headline-concepts-links" href="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670583/Epic-pic/IMG-20200428-WA0181_by9arz.jpg">
				<div class="card text-center card-type-one">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588670252/Epic-pic/IMG-20200428-WA0061_gvje9l.jpg" alt="Card image cap">
					<div class="card-body p-0">
						<p><span class="bold">Is this the key?</span><br>1M X 1M Acrylic on canvas<br>2017</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

<div class="container-fluid text-center" id="passion-div">
	<p>fontawesome</p>
	<h1 class="standout-font d-none d-md-block" id="paddions-main-heading"><span><span><i class="fas fa-angle-double-right"></i></span><i class="fas fa-angle-double-right"></i></span> Passion Brought us here <span><span><i class="fas fa-angle-double-right"></i></span><i class="fas fa-angle-double-right"></i></span></h1>
	<h6 class="standout-font d-md-none" id="paddions-main-heading"><span><span><i class="fas fa-angle-double-right"></i></span><i class="fas fa-angle-double-right"></i></span> Passion Brought us here <span><span><i class="fas fa-angle-double-right"></i></span><i class="fas fa-angle-double-right"></i></span></h6>
	<a class="transparent-button-orange mt-3" href="#">Tell Us About The design You want</a>
</div>





<!-- <div class="container" id="headline concepts">
	<div class="general-sub-header-div">
		<h1>Leave a title here</h1>
		<div class="underline"></div>
	</div>
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6"></div>
	</div>
</div> -->

