<section>
	<div class="side" id="side1"></div>
	<div class="side" id="side2"></div>
</section>

<div class="container-fluid" id="home-about-section">
	<div class="container bg-info">
		<div class="row">
			<div class="col-md-6 d-none d-md-block">
				<div class="card text-center d-none d-sm-block">
					<img class="card-img-top" src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588482623/samples/ecommerce/leather-bag-gray.jpg" alt="Card image cap">
				</div>
			</div>
			<div class="col-md-6">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>

		</div>
	</div>
</div>
