/* colors #5d4e60  #DECBB7 #8F857D #FAF9F9 #D7DEDC #B6C8A9*/



body{
	min-height: 300vh;
}

section{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	pointer-events: none;
}

section .side {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://res.cloudinary.com/epicartsandpainting/image/upload/v1588482623/samples/ecommerce/leather-bag-gray.jpg)
}

section .side#side1{
	clip-path: polygon(0% 0%, 64% 0%, 44% 13%, 69% 29%, 29% 35%, 50% 53%, 32% 64%, 62% 76%, 23% 87%, 59% 100%, 0% 100%);
}

section .side#side2 {
	clip-path: polygon(100% 0, 64% 0%, 44% 13%, 69% 29%, 29% 35%, 50% 53%, 32% 64%, 62% 76%, 23% 87%, 59% 100%, 100% 100%);

}

#home-about-section {
	color: black;
	background: red;
	padding-top: 150vh;
}