<footer id="footer-section" class="p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6 class="standout-font">Payment Methods</h6>
        <ul class="list-unstyled">
          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985456/Epic-pic/image001_yazrv7.jpg"></li>
          <li class="p-2"></li><i class="fas fa-phone mr-3"></i> MOBILE MONEY: +237 678063671</li>
          <li class="p-2"><i class="fas fa-home mr-3"></i> Through The Local Office</li>
          <li class="bg-info"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image005_xzklfh.png"></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="standout-font">Contact</h6>
        <ul class="list-unstyled">
          <li class="p-1"><i class="fas fa-home mr-3"></i> Bongo square, SW Buea , Cameroon</li>
          <li class="p-1"><i class="fas fa-envelope mr-3"></i> epicartsandpainting@gmail.com</li>
          <li class="p-1"><i class="fas fa-phone mr-3"></i> +237 678063671</li>
          <li class="p-1"><i class="fas fa-print mr-3"></i>epicartsandpainting@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="standout-font">Delevered By:</h6>
        <ul class="list-unstyled">
          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image009_fqg3y8.png"></li>
          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985455/Epic-pic/image011_k7xodc.png"></li>
          <li class="p-2"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588985456/Epic-pic/image013_bfghkd.png"></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="standout-font">Epic Arts And Painting Designs</h6>
        <p>My World is to paint for a change</p>
        <p>Creative Artist & Director: ELANGWE SESSE</p>
        <p>Company CEO: ELANGWE MOLI MONENE</p>
      </div>
    </div>
  </div>
</footer>