<nav class="navbar navbar-expand-md sticky-top" >
  <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/epicartsandpainting/image/upload/v1588737889/Epic-pic/WhatsApp_Image_2020-04-28_at_9.11.14_PM_1_ygv7lm.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"><i class="fas fa-sliders-h text-white"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="pages/about" class="nav-link">about</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
       <a href="#" class="nav-link">Home</a>
      </li>       
    </ul>
  </div>
</nav>